:root {
  --el-color-primary: #FBA123;
  --el-color-primary-light-9: #fff7ed;
  --el-color-primary-light-8: #ffedd5;
  --el-color-primary-light-7: #ffedd5;
  --el-color-primary-light-5: #fdba74;
  --el-color-primary-light-3: #fdba74;
  --el-color-primary-dark-2: #cb6016;

  --el-input-focus-border-color: var(--el-color-primary);
  --el-input-hover-border-color: var(--el-color-primary);

  --el-button-text-color: #fff;
  --el-button-hover-text-color: #fff;
  --el-button-active-text-color: #fff;
}

.el-button {
  --el-button-text-color: #fff !important;
  --el-button-hover-text-color: #fff !important;
  --el-button-active-text-color: #fff !important;
}

/* Global table styling: remove horizontal grid lines */
.el-table__inner-wrapper::before {
  display: none !important;
}

.el-table__header .el-table__cell,
.el-table__body .el-table__cell {
  border-bottom: none !important;
}
